{% extends "base.html" %}
{% block body %}

<div class="card shadow p-4 mx-auto" style="max-width: 400px;">
  <h4 class="mb-3 text-center">Owner Login</h4>

  <form method="POST">
    <input
      type="text"
      name="mobile"
      class="form-control mb-3"
      placeholder="Mobile Number"
      required
      autocomplete="off"
    >

    <input
      type="password"
      name="password"
      class="form-control mb-3"
      placeholder="Password"
      required
    >

    <button class="btn btn-primary w-100">Login</button>
  </form>
</div>

{% endblock %}
