{% extends "base.html" %}
{% block body %}
<h3>Register Xerox Shop</h3>
<form method="post">
<input name="shop_name" placeholder="Shop Name" class="form-control mb-2">
<input name="mobile" placeholder="Mobile" class="form-control mb-2">
<input name="password" type="password" placeholder="Password" class="form-control mb-2">
<input name="upi" placeholder="UPI ID" class="form-control mb-2">

<label>Paper</label><br>
<input type="checkbox" name="paper" value="A3">A3
<input type="checkbox" name="paper" value="A4">A4

<br><label>Mode</label><br>
<input type="checkbox" name="mode" value="Normal">Normal
<input type="checkbox" name="mode" value="Digital">Digital

<br><label>Orientation</label><br>
<input type="checkbox" name="orientation" value="Portrait">Portrait
<input type="checkbox" name="orientation" value="Landscape">Landscape

<br><label>Sides</label><br>
<input type="checkbox" name="side" value="Single">Single
<input type="checkbox" name="side" value="Double">Double

<br><br>
<button class="btn btn-success">Register</button>
</form>
{% endblock %}
