{% extends "base.html" %}
{% block content %}

<h2>Register Xerox Shop</h2>

<form method="POST">
    <label>Shop Username</label>
    <input name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>B/W Price</label>
    <input type="number" name="bw_price" required>

    <label>Color Price</label>
    <input type="number" name="color_price" required>

    <label>UPI ID</label>
    <input name="upi_id" required>

    <button type="submit">Register Shop</button>
</form>

{% endblock %}
