{% extends "base.html" %}
{% block content %}

<div class="card shadow p-4 mx-auto" style="max-width: 500px;">
  <h4 class="mb-3 text-center">Upload for {{ owner }}</h4>

  <form method="POST" enctype="multipart/form-data">
    <input class="form-control mb-3" name="name" placeholder="Your Name" required>
    <input type="file" class="form-control mb-3" name="file" required>
    <input type="number" class="form-control mb-3" name="copies" value="1" min="1">

    <select class="form-select mb-3" name="print_type">
      <option value="bw">Black & White</option>
      <option value="color">Color</option>
    </select>

    <button class="btn btn-success w-100">Upload & Continue</button>
  </form>
</div>

{% endblock %}
