{% extends "base.html" %}
{% block content %}

<h2>Upload Your Document</h2>

<form method="POST" enctype="multipart/form-data">
    <label>Your Name</label>
    <input name="name" required>

    <label>File</label>
    <input type="file" name="file" required>

    <label>Copies</label>
    <input type="number" name="copies" value="1">

    <label>Print Type</label>
    <select name="print_type">
        <option value="bw">Black & White</option>
        <option value="color">Color</option>
    </select>

    <button type="submit">Upload & Pay</button>
</form>

{% endblock %}
