<!DOCTYPE html>
<html>
<head>
    <title>Upload Files</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Upload for {{ owner }}</h2>

    <form method="POST" enctype="multipart/form-data">
        <input name="name" placeholder="Your Name" required>
        <input type="file" name="file" required>
        <input type="number" name="copies" value="1" min="1">
        <select name="print_type">
            <option value="bw">B/W</option>
            <option value="color">Color</option>
        </select>
        <button>Upload</button>
    </form>
</div>
</body>
</html>
